<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD TOY</title>
</head>
<body>
    <h1>Add New Toy</h1>

    <form action="/toys/add" method="POST">
        <label>Name</label>
        <input type="text" name="name">
        <br>
        <label>Country</label>
        <input type="text" name="country">
        <br>
        <label>Brand</label>
        <input type="text" name="brand">
        <br>
        <label>Quantity</label>
        <input type="text" name="quantity">
        <br>
        <label>Picture</label>
        <input type="text" name="picture">
        <br>

        <input type="submit" value="SUBMIT">

    </form>
</body>
</html>